<%- include('partials/header'); -%>

<div class="contain">

    <h1>Home</h1>
    <p><%=text%></p>

</div>

<% for(var i=0;i<items.length;i++){%>
    <div class="contain">

        <h1><%=items[i].title%></h1>
        <p style="display: inline;"><%=items[i].text_2%></p> <button type="button" class="btn btn-link"><a href="/posts/<%=items[i].title%>">Read More</a></button>
    
    </div>
    <%}%>
<%- include('partials/footer'); -%>